.about-text{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.about-text h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.about-text p{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.2;
}
.content-image{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: .2rem;
    padding: 0.5rem
}
.post-thumbnail:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 8;
    width: auto;
}
.post-thumbnail:nth-child(2){
    grid-column-start: 8;
    grid-column-end: 13;
    width: auto;

}
.post-thumbnail:nth-child(3){
    height: 120px;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    width: auto;
    height: auto;
}
.post-thumbnail:nth-child(4){
    height: 120px;
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 2;
    width: auto;
    height: auto;
}
.post-thumbnail img{
    width: 100%;
    height: 100%;
}
.art-about{
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0,0, 0.5);
    margin: 5px;
}
.thumbnail-about{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
    padding-inline: 1rem;
    padding-bottom: 3rem;
}
.post-thumbnail-about{
    width: 100%;
    position: relative;
    border-radius: 10px;
    height: 290px;
    min-height: 256px;
}
.post-thumbnail-about img{
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    border-radius: 10px;
}
.text{
    position: absolute;
    bottom: 0;
    top:0;
    padding: 1rem;
    width: 60%;
    color: white;
}
.text h4{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: .5rem;
    color: white;
}
@media (min-width:924px) {
    .about-us{
        max-width: 1200px;
        margin: auto;
    }
    .post-thumbnail:nth-child(1){
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .post-thumbnail:nth-child(2){
        grid-column-start: 6;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .post-thumbnail:nth-child(3){
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .post-thumbnail:nth-child(4){
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .post-thumbnail-about{
        width: 49%;
    }
}
