.nav .menudos{
    clip-path: circle(133.8% at 100% 0);
}
.bg-header{
    background-color: #eee;
}
.title-general{
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-top: 18px;
}
.title-general p{
    text-align: center;
    margin-top: 10px;
}
.about{
    background-color: #eee;
}
.container-card{
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 1rem;
}
.card{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px #0003;
}
.card-img{
    max-width: 285px;
    height: 200px;
}
.card-img img{
    width: 100%;
    height: 100%;
}
.card-details{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}
.product-name{
    width: 100%;
    font-weight: bold;
}
.details-author{
    width: 100%;
    margin-bottom: 10px;
    font-size: smaller;
}
.icon-star{
    width: 100%;
}
.fa-star{
    color: #ffab00;
}
.price{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 15px;
}
.product-links{
    margin-top: 18px;
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: center;
}
.product-link{
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    text-align: center;
    white-space: nowrap;
    color: white;
    background: #1fde82;
    width: 50%;
    transition: ease .5s;
}
.product-link:hover{
    background: #139c5a;
}
.subscription-title p{
    padding-top: 1rem;
}
.subscription{
    background: #5433FF;
    background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF);
    background: linear-gradient(to right, #A5FECB, #20BDFF);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    padding-top: 2rem;
}
.subscription-form{
    display: flex;
    padding-top: 1rem;
}
.subscription-form-wrapper{
    width: 80%;
}
input{
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #cfd8dc;
    color: #243238;
    font-size: 14px;
    line-height: 21px;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding: 10px 20px;
    border: none;
}
.btn-form{
    flex: 0 0 100px;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    height: 40px;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    padding: 0 20px;
    text-align: center;
    border: none;
    background: #1fde82;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    transition: ease .5s;
}

@media (min-width:720px) {
    .card:last-child{
        display: none;
        overflow-x: unset;
    }
}
@media(min-width:958px) {
    .card:last-child{
        display: block;
    }
    .btn-form:hover{
        background: #139c5a;
    }
}

